<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<header th:replace="fragments::header"></header>
<body>
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Passport</th>
        <th scope="col">Issued By</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="driver : ${drivers}">
        <tr>
          <td th:text="${driver.id}">...</td>
          <td th:text="${driver.fullName}">...</td>
          <td th:text="${driver.phone}">...</td>
          <td th:text="${driver.passport}">...</td>
          <td th:text="${driver.passportIssuedBy}">...</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</main>
</body>
<footer th:replace="fragments::footer"></footer>
</html>