<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<header th:replace="fragments::header"></header>
<body>
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Short name</th>
        <th scope="col">Phone</th>
        <th scope="col">Contact face</th>
        <th scope="col">E-mail</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="declaration : ${stakeholders}">
        <tr>
          <td th:text="${declaration.id}">...</td>
          <td th:text="${declaration.fullName}">...</td>
          <td th:text="${declaration.shortName}">...</td>
          <td th:text="${declaration.phone}">...</td>
          <td th:text="${declaration.contactFace}">...</td>
          <td th:text="${declaration.email}">...</td>
          <td th:text="${declaration.type}">...</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</main>
</body>
<footer th:replace="fragments::footer"></footer>
</html>